<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.NewServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>set_products_context</servlet-name>
        <servlet-class>servlets.set_products_context</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCategory</servlet-name>
        <servlet-class>servlets.updateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadDeleteImage</servlet-name>
        <servlet-class>servlets.uploadDeleteImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePhone</servlet-name>
        <servlet-class>servlets.updatePhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>servlets.uploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCategory</servlet-name>
        <url-pattern>/updateCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadDeleteImage</servlet-name>
        <url-pattern>/uploadDeleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePhone</servlet-name>
        <url-pattern>/updatePhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
